:root {
    --main-bg-color: #F6F6F6;
    --container-color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    overflow-y: scroll;
}

#header {
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: monospace;
}

#content {
    display: flex;
    justify-content: center;
}

#content > div {
    float: left;
    margin: 1em;
    padding: 0.1em;
    background-color: var(--container-color);
    border: 1px solid transparent;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#options-container {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    width: 280px;
    min-width: 210px;
    padding: 8px !important;
    height: fit-content;
}

#options-container > h2 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

#filter {
    background-color: none;
    border: none;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

#options-container > * {
    float: none;
    clear: both;
}

#boards-suggestion {
    /* width: 880px; */
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: fit-content;
}

.filter_buttons {
    display: flex;
    justify-content: left;
}

.filter_button {
    background-color: rgb(197, 197, 197);
    border-color: transparent;
    border-radius: 10px;
    padding: 4px 8px;
    min-width: 100px;
}

.filter_button:hover {
    background-color: rgb(214, 214, 214);
}

.filter_button:active {
    background-color: rgb(163, 163, 163);
}

.toggle_button {
    background-color: rgb(197, 197, 197);
    border-color: transparent;
    border-radius: 2px;
    padding: 4px 8px;
    width: 90%;
    margin-bottom: 1em;
}

.toggle_button:hover {
    background-color: rgb(214, 214, 214);
}

.toggle_button:active {
    background-color: rgb(163, 163, 163);
}

.toggle_button.active {
    background-color: rgb(173, 226, 177);
}

.toggle_button:hover.active {
    background-color: rgb(200, 241, 203);
}

.toggle_button:active.active {
    background-color: rgb(142, 199, 147);
}

.filter-item {
    width: 100%;
    margin-bottom: 4px;
    padding: 0;
}

.filter-help {
    position: absolute;
    right: 8px;
    bottom: 4px;
}

.filter-help-text {
    left: 170px;
    top: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    width: 400px;
}

.filter-help-text p {
    background-color: transparent;
    margin-block-start: 0;
    margin-block-end: 0;
}

.board-show {
    position: relative;
    float: left;
    margin: 1em;
    padding: 0.1em;
    background-color: var(--container-color);
    border: 2px solid rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board-show > h3 {
    text-align: center;
    width: 200px;
    max-width: 200px;
    min-height: 2em;
}

.board-show > h4 {
    text-align: center;
    width: 200px;
    max-width: 200px;
    min-height: 1em;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 3px 0;
}

.board-show > img {
    width:200px;
}

/*//////////////////////////*/

.check-item {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    width: 100%;
}

.check-item > * {
    float: left;
}

.checkbox {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    border: none;
    padding: 0;
    width: 100%;
}

.checkbox > .check-graph {
    width: 20px;
    height: 20px;
    margin: 4px;
    background-size: contain;
}

.checkbox > .check-graph.unset {
    background-image: url('../assets/images/checkbox_empty.png');
    /* background-color: gray; */
}

.checkbox > .check-graph.include {
    background-image: url('../assets/images/checkbox_checked.png');
    /* background-color: green; */
}

.checkbox > .check-graph.exclude {
    background-image: url('../assets/images/checkbox_remove.png');
    /* background-color: red; */
}

/* Style the button that is used to open and close the collapsible content */
.collapsable {
    position: relative;
    background-color: rgb(228, 228, 228);
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.hover-help:before{content:"⁈"} 
/* ⁈ */

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsable:hover {
    background-color: #ccc;
}
  
/* Style the collapsible content. Note: hidden by default */
.col-content {
    padding: 0 18px;
    /* display: none; */
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}




.dropdown {
    float: left;
    overflow: hidden;
    margin: 0.2em;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    color: black;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.055);
    font-family: inherit;
    margin: 0;
    width: 28px;
    height: 28px;
}

.dropdown:hover .dropbtn {
    background-color: rgb(94, 94, 94);
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 122.95px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* 
.dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border: none;
    outline: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0px;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown-content button:active {
    background-color: rgb(197, 197, 197);
} */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Scrollbar */

::-webkit-scrollbar {width: 4px;height:4px;}
::-webkit-scrollbar-track {background: #eeee;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::-webkit-scrollbar-corner {background: #eeee;}